<br><div style="width:100; font-family:sans-serif ; background-color: white; align-items: center;  padding-right: 600px; padding-left: 600px;">
<form action="/action_page.php">
    <div class="container">
        <H2 style="text-align: center;">Register to explore amazing career oppurtunities</H2>
      
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required minlength="7">
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" id="password" required minlength="7">
  
      <label for="email"><b>Email Address</b></label>
      <input type="email" placeholder="Enter Email Address" name="email" id="email" required >
      
      <label for="city"><b>City</b></label>
      <input type="text" placeholder="Enter City" name="city" id="city" required>

      <label for="mobile"><b>Mobile Number</b></label>
      <input type="number" placeholder="Enter Mobile Number" name="mobile" id="mobile" required minlength="10">
  
      <button type="submit" class="registerbutton">Register</button>
    </div>
  </form>
</div>
<br>