<br><div style="width:100; font-family:sans-serif ; background-color: white; align-items: center; padding-right: 600px;padding-left: 600px;">
  <br>  <H2 style="text-align: center;">Login to a world of oppurtunities!</H2>
<!--
<H2>Login to a world of oppurtunities!</H2>
<b style="text-align: left;">Username</b><br>
<input type="text" id="username" value="Enter Username" class="css-input"/><br>
<b style="text-align: left;">Password</b><br>
<input type="text" id="password" value="Enter Password" class="css-input"/><br><br>
<input type="submit" value="Login" class="myButton"/><br>
<input type="checkbox" id="check"/>Remember Me
    <div style="background-color: rgb(180, 180, 180); width:200px"></div>
    <input type="submit" value="Cancel" class="myButton"/>
    <a href="registeration.html" > Forgot Password? </a>
-->
<form action="/action_page.php" method="post">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required minlength="5">
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required minlength="7">
          
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

</div>
<br>
