<div style="text-align: center; background-color: white; padding: 15px; font-family: Arial, Helvetica, sans-serif ;">
    <h1>Welcome to LTI</h1>
</div>

<div style="background-color: rgb(26, 66, 241); padding: 15px; font-family:sans-serif;">
    <div style="text-align: left; ">
        <a routerLink='Home' style="color:white">Home</a>  <a routerLink='Login' style="color:white">Login</a>  <a routerLink='Registration' style="color:white">Registration</a>
        <img src="/assets/lti.jpg" height="50" width="100" align="right"/>
        
    </div>
    <br>
</div>

    


